@inherits LayoutComponentBase
<nav class="navbar navbar-light justify-content-between fixed-top">
    <a class="navbar-brand" href="/items">
        <img src="favicon.png" width="45" height="40" class="d-inline-block align-top"/>
        Hello @CurrentUserService.CurrentUser
    </a>
    <form class="form-inline">
        <NavLink href="settings" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">Settings</button>
        </NavLink>
        
        <NavLink href="about" ActiveClass="active-nav">
            <button class="btn btn-outline-success my-2 my-sm-0">About</button>
        </NavLink>
        
        <div class="btn btn-outline-success my-2 my-sm-0" @onclick="SignOut">Sign out</div>
    </form>
</nav>

<div class="page">
    <main style="padding-top: 80px">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>