@page "/Items"
<div class="items-container">
    <div class="items-list-container">
        <ItemList></ItemList>
    </div>
    <div class="item-edit-container">
        <ItemEdit></ItemEdit>
    </div>
</div>
